{
  "globals": {
    "describe": false,
    "it": false,
    "beforeEach": false,
    "afterEach": false,
    "before": false,
    "after": false,
    "sinon": false,
    "mockery": false,
    "expect": false,
    "mockSetup": false,
    "mockTearDown": false
  },
  "rules": {
    "no-unused-expressions": 0
  }
}